body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.barra-navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.barra-navegacion ul {
    display: flex;
}

.barra-navegacion li {
    margin-right: 20px;
}

.barra-navegacion a {
    text-decoration: none;
    color: black;

.barra-navegacion:hover {
    color: solidblue;
}
